rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isAllowedUser() {
      return request.auth != null &&
        request.auth.token.familyMember == true;
    }

    match /memories/{allPaths=**} {
      allow read, write: if isAllowedUser();
    }

    match /documents/{allPaths=**} {
      allow read: if isAllowedUser();
    }
  }
}
