rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isAllowedUser() {
      return request.auth != null &&
        request.auth.token.email in [
          'REPLACE_EMAIL_1',
          'REPLACE_EMAIL_2',
          'REPLACE_EMAIL_3'
        ];
    }

    match /memories/{allPaths=**} {
      allow read, write: if isAllowedUser();
    }
  }
}
